m1:
  ip: 192.168.65.90
  cpus: 2
  memory: 1024
  type: master
m2:
  ip: 192.168.65.95
  cpus: 2
  memory: 1024
  type: master
m3:
  ip: 192.168.65.101
  cpus: 2
  memory: 1024
  type: master
a1:
  ip: 192.168.65.111
  cpus: 4
  memory: 3328
  type: agent-private
a2:
  ip: 192.168.65.121
  cpus: 4
  memory: 1536
  type: agent-private
a3:
  ip: 192.168.65.131
  cpus: 4
  memory: 1536
  type: agent-private
a4:
  ip: 192.168.65.141
  cpus: 4
  memory: 1536
  type: agent-private
a5:
  ip: 192.168.65.151
  cpus: 4
  memory: 1536
  type: agent-private
a6:
  ip: 192.168.65.161
  cpus: 4
  memory: 1536
  type: agent-private
p1:
  ip: 192.168.65.60
  cpus: 2
  memory: 1024
  type: agent-public
  aliases:
  - spring.acme.org
  - oinker.acme.org
p2:
  ip: 192.168.65.70
  cpus: 2
  memory: 1024
  type: agent-public
p3:
  ip: 192.168.65.80
  cpus: 2
  memory: 1024
  type: agent-public
boot:
  ip: 192.168.65.50
  cpus: 2
  memory: 256
  type: boot
